@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

:root {
    --bg-yellow-primary: #FFE17F;
    --bg-yellow-secondary: #FFC700;
    --bg-black-primary: #000000;
    --bg-grey-primary: #F0F0F0;
    --bg-white-primary: #ffffff;
    --bg-darkgrey-primary: #444444;
    --bg-green-primary: #08AF00;
    --bg-lightgrey-primary: #C4C4C4;
    --text-black-primary: #000000;
    --text-grey-primary: #444444;
    --text-white-primary: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sec-container {
    margin: auto;
    width: 1080px;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

body {
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.page-header {
    position: relative;
    margin-top: 40px;
    background-color: var(--bg-yellow-primary);
}

.page-header-container {
    padding: 50px 60px;
}

.navigation-logo {
    position: absolute;
    display: block;
    top: -20px;
    left: 60px;
}

.top-of-the-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 53px;
    translate: 0px -6px;
}

.header-search-wrapper {    
    border-radius: 20px;
    border: 2px solid var(--bg-black-primary);
    display: flex;
}

.icon-search{
    position: absolute;
    left: -343px;
}

.header-search-input {
    min-width: 359px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0 10px 48px;
    width: 100%;
    border: none;
    background: none;
    border-right: 2px solid;
}

.header-search-button {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    padding: 10px 56px;
    border: none;
    background: none;
}

.header-list-top {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 61px;
}

.header-item-top:nth-last-child(3) {
    margin-right: auto;
}

.header-link-top {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: var(--text-black-primary);
}

.header-product-categories {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    translate: 0px 6px;
}

.icon-enter{
    
}

.icon-compare{
    translate: -8px -1px;
}

.icon-basket{
    translate: -8px -1px;
}

.catalog-button {
    padding: 0;
    border: none;
    background: none;
}

.page-navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.2em;
    gap: 51px;
    translate: 4px 1px;
}

.page-navigation-item {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.page-navigation-link {
    text-decoration: none;
    color: var(--text-black-primary);
}

.header-categories-wrapper {
    margin-top: 14px;
}

.header-categories-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 60px;
}

.header-categories-list:nth-child(n + 2) {
    margin-top: 20px;
}

.header-categories-item {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.header-categories-link {
    text-decoration: none;
    color: var(--text-black-primary);
}

.slider-card{
    translate: 0px -62px;
}

/* slider card */

.slider-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 40px;
}

.slider-image-wrapper {}

.slider-image {
    margin-top: -180px;
    position: relative;
}

.slider-card {}

.slider-card-title {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: var(--text-black-primary);
}

.slider-card-description {
    margin: 0;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--text-grey-primary);
}

.slider-list {
    margin-top: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    translate: 0px 32px;
}

.slider-description {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--text-grey-primary);
}

.slider-item-characteristic {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color: var(--text-black-primary);
}

.about-product-wrapper {
    margin-top: 50px;
    padding: 5px 10px;
    transition: 0.8s;
    position: relative;
    display: inline-block;
}


/* product-categories */

.product-categories-list {
    list-style: none;
    margin: 0;
    padding: 70px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    translate: 0px -42px;
}

.product-categories-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 160px;
    background-color: var(--bg-yellow-primary);
}

.product-categories-description {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: var(--text-black-primary);
    translate: 0px 14px;
}

.catalog-image-selfi{
    translate: 0px 21px;
}

.icon {
    cursor: pointer;
    transition: 0.5s;
    width: 40px;
    height: 40px;
    background: var(--bg-lightgrey-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.path {
    transition: 0.5s;
}

.icon:hover path {
    fill: red;
}

.icon:hover {
    background-color: #08AF00;
}


/*  */

.extra-info {
    position: relative;
    background-color: var(--bg-grey-primary);
    translate: -60px -25px;
}

.extra-info::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 102px;
    background-color: var(--bg-white-primary)
}

.extra-info-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 116px;
}

.extra-info-title-list {
    position: relative;
    z-index: 10;
    list-style: none;
    margin: 0;
    padding: 65px 0;
    display: grid;
    gap: 35px;
    border-right: 7px solid var(--bg-black-primary);
}

.extra-info-item {
    display: inline-block;
    position: relative;
}

.extra-info-yellow {
    transition: 0.8s;
    z-index: 10;
    position: absolute;
    width: 100%;
    min-height: 8px;
    background-color: var(--bg-yellow-primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.extra-info-item:hover > .extra-info-yellow {
    min-height: 100%;
}

.extra-info-title {
    z-index: 20;
    position: relative;
    border: none;
    background: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-black-primary);
    padding-left: 80px;
}

.extra-info-description-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.extra-info-description-item {
    margin-top: 65px;
    display: flex;
    gap: 106px;
}

.extra-description-icon {
    position: relative;
    translate: -3px 4px;
}

.extra-description-title {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: var(--text-black-primary);
    margin: 0;
}

.extra-description {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    margin-top: 34px;
    color: var(--text-grey-primary);
}

.about-product-yellow {
    transition: 0.8s;
    z-index: -100;
    position: absolute;
    width: 100%;
    min-height: 8px;
    background-color: var(--bg-yellow-primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-product-wrapper:hover > .about-product-yellow {
    min-height: 100%;
}

.about-product {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-black-primary);
    padding: 29px;
}


/*categories*/

.delivery-link {
    margin: 70px 0;
    display: grid;
    grid-template-columns: 125px 1fr 125px;
    min-height: 100px;
    text-transform: uppercase;
    text-decoration: none;
    translate: 0px 68px;
}

.delivery-link-left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-yellow-primary);
}

.delivery-link-center {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--text-black-primary);
    background: var(--bg-grey-primary);
}

.delivery-link-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-grey-primary);
}

.info {
    width: 520px;
    margin-right: 108px;
    translate: 0px 73px;
}

.common-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 33px;
}

.contacts-phone{
    font-style: normal;
    color: var(--text-black-primary);
}


/*Mail*/

.mailing-list {
    background: var(--bg-grey-primary);
}

.about-company-title,
.contacts-title,
.mailing-list-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: var(--text-black-primary);
}

.top-of-mailing-list,
.bottom-of-mailing-list {
    display: flex;
    align-items: center;
}

.top-of-mailing-list{
    padding-bottom: 22px;
}

.mailing-list-title {
    width: 348px;
    translate: 7px 62px;
}

.mailing-list-discription {
    width: 527px;
    margin-left: auto;
    translate: -26px 68px;
}

.mailing-list-form {
    width: 810px;
}

.mailing-list-mark {
    margin-bottom: 0;
    margin-left: auto;
}

.subscribe-email-wrapper {
    display: flex;
    padding-top: 144px;
    padding-bottom: 56px;
}

.subscribe-email {
    min-width: 100px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 11px 0 14px 16px;
    width: 542px;
    color: #444444 50%;
    border: none;
    border-bottom: 3px solid var(--bg-lightgrey-primary);
    background: none;
}

.subscribe-button {
    padding: 0px 36px;
    width: 253px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.2em;
    cursor: pointer;
    border: 3px solid var(--bg-lightgrey-primary);
    background: none;
}


/**/

.about-company-description {
    color: var (--text-grey-primary);
    width: 497px;
    padding: 0;
    margin-bottom: 30px;
    translate: 0px 7px;
}

.delivery-ways-list {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    translate: -2px 5px
}

.delivery-ways-item {
    margin-bottom: 19px;
}

.contacts {
    color: var(--text-grey-primary);
    width: 532px;
    translate: 0px 73px;
}

.contacts-address-text {
    margin: 0;
    font-style: normal;
}

.contacts-description{
    translate: 0px 6px;
    padding-bottom: 15px;
    width: 500px;
}

.contacts-address{
    translate: 0px -6px;
}

.contacts-subtitle {
    margin-top: 30px;
    margin-bottom: 15px;
    translate: 0px -7px;
}

.contacts-schedule {
    padding: 0;
    margin-bottom: 30px;
    list-style-type: none;
    translate: 0px -9px;
}

.comunication {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--text-black-primary);
    background: (--bg-yellow-primary);
    text-decoration: none;
}

.mailing-list {
    color: var(--text-grey-primary);
    background-color: (--bg-grey-primary);
}

.main-inner {
    background-color: var(--bg-grey-primary);
}

.inner-header {
    padding: 35px;
}

.inner-header-title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 16px;
}

.breadcrumbs {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-black-primary);
}

.breadcrumbs-item {
    margin-right: 36px;
}

.breadcrumbs-link {
    color: inherit;
    text-decoration: none;
    padding-right: 16px;
}

.write-us-wrapper {
    margin-top: 60px;
    padding: 5px 10px;
    transition: 0.8s;
    position: relative;
    display: inline-block;
    translate: 0px -68px;
}

.write-us-yellow {
    transition: 0.8s;
    z-index: -100;
    position: absolute;
    width: 100%;
    min-height: 8px;
    background-color: var(--bg-yellow-primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.write-us-wrapper:hover > .write-us-yellow {
    min-height: 100%;
}

.write-us {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-black-primary);
    padding: 24px;
}

.about-us-wrapper {
    margin-top: 60px;
    padding: 5px 10px;
    transition: 0.8s;
    position: relative;
    display: inline-block;
    translate: 0px -44px;
}

.about-us-yellow {
    transition: 0.8s;
    z-index: -100;
    position: absolute;
    width: 100%;
    min-height: 8px;
    background-color: var(--bg-yellow-primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-us-wrapper:hover > .about-us-yellow {
    min-height: 100%;
}

.about-us {
    text-align: center;
    font-family: "Raleway", sans-serif;
    width: 270px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-black-primary);
}



/* Catalog  */

.catalog-products {
    background-color: var(--bg-grey-primary);
}

.catalog-products-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.filter-title,
.sort-title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-filter-title {
    line-height: 20px;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.catalog-filter-list {
    font-size: 16px;
    line-height: 20px;
}

.show-button {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--text-black-primary);
    background: var(--bg-yellow-primary);
    text-decoration: none;
}

.filter-header-container {
    padding: 25px 60px;
}

.sort-header-container {
    display: flex;
    padding: 25px 40px;
}

.cards-field {
    padding: 70px 40px 78px;
    background: var(--bg-white-primary);
}

.product-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 40px;
}

.product-card-link {
    display: block;
    text-decoration: none;
}

.product-card-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 32px;
    color: var(--text-black-primary);
}

.product-card-price {
    white-space: nowrap;
    line-height: 21px;
    font-weight: 400;
    text-align: right;
    color: var(--text-grey-primary);
}

.button-show-more {
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    padding: 18px;
    display: block;
    width: 100%;
    background: none;
    border: 3px solid var(--bg-grey-secondary);
}

.pagination-wrapper {
    padding: 25px;
    background: var(--bg-grey-tertiary);
    margin: 44px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination-button {
    cursor: pointer;
    background: none;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.pagination-button-prev,
.pagination-button-next {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.pagination-button-disabled {
    color: var(--text-grey-primary);
    opacity: 0.3;
}

.pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-wrapper {
    margin-top: 60px;
    padding: 5px 10px;
    transition: 0.8s;
    position: relative;
    display: inline-block;
    translate: 0px -68px;
}

.show-yellow {
    transition: 0.8s;
    z-index: -100;
    position: absolute;
    width: 100%;
    min-height: 8px;
    background-color: var(--bg-yellow-primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show-wrapper:hover > .show-yellow {
    min-height: 100%;
}

.show {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-black-primary);
    padding: 24px;
}




/* catalog form  */

.catalog-filter {
    margin: 25px 60px;
}

.range-scale {
    margin-top: 30px;
    position: relative;
    height: 2px;
    margin-bottom: 16px;
    background-color: #DCDCDC;
    border-radius: 2px;
}

.range-bar {
    position: absolute;
    height: 2px;
    background-color: var(--bg-black-primary);
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid var(--bg-black-primary);
    border-radius: 50%;
    cursor: pointer;
}

.toggle-min {
    top: -8px;
    left: -10px;
}

.toggle-max {
    top: -8px;
    right: -10px;
}

.catalog-filter-group-wrapper {
    padding: 12px 0 35px;
    border-top: 2px solid var(--bg-black-primary);
}

.catalog-filter-group {
    border: none;
    padding: 0;
    margin: 0;
}

.catalog-filter-title {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.catalog-filter-list {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    display: grid;
    gap: 20px;
}

.catalog-filter-item {}

.control-label-checkbox {
    cursor: pointer;
    position: relative;
    padding-left: 36px;
}

.control-label-checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    border: 2px solid var(--bg-black-primary);
    border-radius: 3px;
}

.control-input-checkbox:checked + .control-label-checkbox::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
    width: 10px;
    height: 10px;
    background-color: var(--bg-black-primary);
    border-radius: 3px;
}

.control-input-checkbox {
    display: none;
}

.control-label-radio {
    cursor: pointer;
    position: relative;
    padding-left: 36px;
}

.control-label-radio::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    border: 2px solid var(--bg-black-primary);
    border-radius: 50%;
}

.control-input-radio:checked + .control-label-radio::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
    width: 10px;
    height: 10px;
    background-color: var(--bg-black-primary);
    border-radius: 50%;
}

.control-input-radio {
    display: none;
}

.control-span {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}




/*footer*/

.page-footer {
    color: var(--text-white-primary);
    background: var(--bg-darkgrey-primary);
}

.footer-logo {
    padding-top: 31px;
    padding-bottom: 5px;
}

.footer-address {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.footer-media {
    display: grid;
    grid-template-columns: 1.1fr 2fr 1fr;
    align-items: center;
    gap: 120px;
    padding-bottom: 11px;
}

.footer-media-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 31px;
    translate: -10px -7px;
}

.footer-media-item {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-white-primary);
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 77px;
}

.social-media-decorate {
    background-color: var(--bg-yellow-secondary);
    width: 80px;
    height: 7px;
}

.social-media-list {
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding: 0;
    justify-content: center;
    margin: 0;
    translate: 19px 17px;
}

.footer-contacts-phone {
    display: block;
    color: white;
    font-size: 16px;
    line-height: 20px;
    translate: 45px -4px;
}

.executor-logo {
    display: block;
    translate: 0px 21px;
}

.footer-social-link {
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background-color: #ffffff30;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}